@model BTLN1.Models.Account

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountID" class="control-label"></label>
                <input asp-for="AccountID" class="form-control" />
                <span asp-validation-for="AccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountPhoneNumber" class="control-label"></label>
                <input asp-for="AccountPhoneNumber" class="form-control" />
                <span asp-validation-for="AccountPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountAddress" class="control-label"></label>
                <input asp-for="AccountAddress" class="form-control" />
                <span asp-validation-for="AccountAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountBirth" class="control-label"></label>
                <input asp-for="AccountBirth" class="form-control" />
                <span asp-validation-for="AccountBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountSex" class="control-label"></label>
                <input asp-for="AccountSex" class="form-control" />
                <span asp-validation-for="AccountSex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountBank" class="control-label"></label>
                <input asp-for="AccountBank" class="form-control" />
                <span asp-validation-for="AccountBank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountCCCD" class="control-label"></label>
                <input asp-for="AccountCCCD" class="form-control" />
                <span asp-validation-for="AccountCCCD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViTriAccountID" class="control-label"></label>
                <input asp-for="ViTriAccountID" class="form-control" />
                <span asp-validation-for="ViTriAccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuongID" class="control-label"></label>
                <select asp-for="LuongID" class ="form-control" asp-items="ViewBag.LuongID"></select>
            </div>
            <div class="form-group">
                <label asp-for="HopDongID" class="control-label"></label>
                <select asp-for="HopDongID" class ="form-control" asp-items="ViewBag.HopDongID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AccountStart" class="control-label"></label>
                <input asp-for="AccountStart" class="form-control" />
                <span asp-validation-for="AccountStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountEnd" class="control-label"></label>
                <input asp-for="AccountEnd" class="form-control" />
                <span asp-validation-for="AccountEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
