@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">QUẢN LÝ HỒ SƠ NHÂN SỰ</h1>
    <p>DANH SÁCH CÁC PHÒNG BAN</p>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Sale" asp-action="Index">Phòng Kinh Doanh</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Staff" asp-action="Index">Phòng Hành Chính</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Phòng Kế Toán</a>
    </li>
     <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Ceo" asp-action="Index">Phòng CEO</a>
    </li>
    
</ul>
</div>