@model BTLN1.Models.HopDong

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có muốn xóa bản ghi này không?</h3>
<div>
    <h4>HopDong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeHopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeHopDong)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HopDongID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách hợp đồng</a>
    </form>
</div>
