@model BTLN1.Models.CeoViTri

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa dữ liệu</h1>

<h3>Bạn có muốn xóa bản ghi này không</h3>
<div>
    <h4>Vị trí phòng CEO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VitriCeo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VitriCeo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ViTriCeoID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách vị trí phòng CEO</a>
    </form>
</div>
