@model BTLN1.Models.CeoViTri

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Vị trí phòng CEO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VitriCeo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VitriCeo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ViTriCeoID">Cập nhật</a> |
    <a asp-action="Index">Danh sách vị trí phòng CEO</a>
</div>
