@model BTLN1.Models.Sale

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SaleID" class="control-label"></label>
                <input asp-for="SaleID" class="form-control" />
                <span asp-validation-for="SaleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleName" class="control-label"></label>
                <input asp-for="SaleName" class="form-control" />
                <span asp-validation-for="SaleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePhoneNumber" class="control-label"></label>
                <input asp-for="SalePhoneNumber" class="form-control" />
                <span asp-validation-for="SalePhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleAddress" class="control-label"></label>
                <input asp-for="SaleAddress" class="form-control" />
                <span asp-validation-for="SaleAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleBirth" class="control-label"></label>
                <input asp-for="SaleBirth" class="form-control" />
                <span asp-validation-for="SaleBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleSex" class="control-label"></label>
                <input asp-for="SaleSex" class="form-control" />
                <span asp-validation-for="SaleSex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleBank" class="control-label"></label>
                <input asp-for="SaleBank" class="form-control" />
                <span asp-validation-for="SaleBank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleCCCD" class="control-label"></label>
                <input asp-for="SaleCCCD" class="form-control" />
                <span asp-validation-for="SaleCCCD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViTriSaleID" class="control-label"></label>
                <select asp-for="ViTriSaleID" class ="form-control" asp-items="ViewBag.ViTriSaleID"></select>
            </div>
            <div class="form-group">
                <label asp-for="LuongID" class="control-label"></label>
                <select asp-for="LuongID" class ="form-control" asp-items="ViewBag.LuongID"></select>
            </div>
            <div class="form-group">
                <label asp-for="HopDongID" class="control-label"></label>
                <select asp-for="HopDongID" class ="form-control" asp-items="ViewBag.HopDongID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SaleStart" class="control-label"></label>
                <input asp-for="SaleStart" class="form-control" />
                <span asp-validation-for="SaleStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleEnd" class="control-label"></label>
                <input asp-for="SaleEnd" class="form-control" />
                <span asp-validation-for="SaleEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
