@model BTLN1.Models.AccountViTri

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa dữ liệu</h1>

<h3>Bạn có muốn xóa dữ liệu này không?</h3>
<div>
    <h4>AccountViTri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VitriAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VitriAccount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ViTriAccountID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách vị trí phòng kế toán</a>
    </form>
</div>
