@model BTLN1.Models.AccountViTri

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Vị Trí Phòng Kế Toán</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VitriAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VitriAccount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ViTriAccountID">Edit</a> |
    <a asp-action="Index">Danh sách vị trí phòng kế toán</a>
</div>
