@model BTLN1.Models.AccountViTri

@{
    ViewData["Title"] = "Edit";
}

<h1>Cập nhật dữ liệu</h1>

<h4>Vị trí phòng kế toán</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ViTriAccountID" />
            <div class="form-group">
                <label asp-for="VitriAccount" class="control-label"></label>
                <input asp-for="VitriAccount" class="form-control" />
                <span asp-validation-for="VitriAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách vị trí phòng kế toán</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
